
.navbar1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 10%;

}
.headerdashbo{
    top:0;
    left: -50%;
    width: 10%;
    padding:30px 100px;
}
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #760000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #760000;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -200px;
    margin-right: -80px;
    margin-left: 140px;

}

.left-column{
    display: flex;
    flex-direction: column;
    flex: 2.25;
}
.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.middle-column {
    flex: 1.5;
}

.chart{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    height: 225px;
    width: 500px;
}
.vertical-chart{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    height: 460px;
    width: 330px;
}
.statistics {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    height: 80px;
}
.information{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    height: 190px;
}
.note-textarea{
    height: 135px;
}
.note-button{
    margin-left: 70px;
}
.note-container{
    border: 1px solid #ccc;
    margin-left: 110px;
    height: 70px;
    right: 60px;
    width: 1086px;

}
